@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #060010;
  --font-sans: var(--font-montserrat);
}

body {
  background-color: #060010;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@keyframes liquid-border {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
